:root {
  --primary: #fd7e14;
  --primary-dark: rgba(0, 200, 255, 1);
  --primary-70: rgba(253, 126, 20, 0.7);
  --primary-50: rgba(253, 126, 20, 0.5);
  --primary-30: rgba(253, 126, 20, 0.3);
  --primary-10: rgba(253, 126, 20, 0.1);
  --logo: white;
  --sidebar-icon: white;
}

.bg-grad-sidebar {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgb(253, 126, 20, 1)),
    to(#3c4655)
  );

  background-image: linear-gradient(0deg, rgb(255, 214, 180), rgba(253, 126, 20, 1));
}
