:root {
    --primary: #fd7e14;
    --primary-dark: #000;
    --primary-70: rgba(253, 126, 20, 0.7);
    --primary-50: rgba(253, 126, 20, 0.5);
    --primary-30: rgba(253, 126, 20, 0.3);
    --primary-10: rgba(253, 126, 20, 0.1);
    --logo: #252d37;
    --sidebar-icon: #b3c1d1;
  }
  
  /* Background Image
  ---------------------------------------------------------------------------- */
  .bg-grad-sidebar {

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from (#fd7e14),
        to(white)
    );

    background-image: linear-gradient(0deg, #fd7e14 0%, #3c4655 100%);

  }